@import "./Fontfaces";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "SF Text";
}

::-webkit-scrollbar {
  width: 2px;
  transition: width 0.5s ease-out;
  transform: translateX(5px);
}
::-webkit-scrollbar:hover {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #e9e7e756;
}
::-webkit-scrollbar-thumb {
  background: #151515;
}

::selection {
  color: white;
  background: #241c57;
}

html,
body,
main {
  width: 100vw;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    position: relative;
  }
}
#footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h4 {
    text-align: center;
  }

  span {
    font-weight: 300;
  }

  .line {
    background: #c8dfe5;
    height: 1px;
    width: 62vw;
    margin-top: 15vh;
  }

  .Bottom {
    margin-top: 10vh;
    height: 15vh;
    width: 100%;
    background: #c8dfe5;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2vw;
  }
  .ver_line {
    width: 1px;
    background: #c8dfe5;
  }
  h4,
  h5 {
    color: #c8dfe5;
  }
  .vdfm,
  .madthc {
    width: 6vw;
    height: 6vw;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .vdfm {
    background-image: url(../Vectors/VDFM.svg);
  }
  .madthc {
    background-image: url(../Vectors/MADTHC.svg);
  }
}
