@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: none;
  // font-smooth: antialiased;

  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../Fonts/BebasNeue-Bold.otf");
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 2px;
  transition: width 0.5s ease-out;
  transform: translateX(5px);
}
::-webkit-scrollbar:hover {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #e9e7e756;
}
::-webkit-scrollbar-thumb {
  background: #151515;
}

::selection {
  background: #c9c7c7;
  color: #292929;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow: overlay;
  background: #e9e7e7;
}

p {
  transition: none;
}

.return_button {
  width: 3.5vw;
  aspect-ratio: 1;
  display: flex;
  position: fixed;
  background: #151515;
  border-radius: 50%;
  top: 2vw;
  left: 4vw;
  z-index: 99;
  box-shadow: 0 0 1vw #00000000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1),
    background 0.8s 0.33s cubic-bezier(0.25, 0, 0, 1);
}
.return_svg {
  width: 50%;
  height: 50%;
  overflow: visible;
  transform: translateX(-5%);
  z-index: 3;
}
.arr-1 {
  fill: none;
  stroke: #e9e7e7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4vw;
  transition: stroke 0.8s 0.22s cubic-bezier(0.25, 0, 0, 1);
}
.return_overlay {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: #e9e7e7;
  clip-path: circle(0% at top 5% right 30%);
  width: 105%;
  height: 105%;
  z-index: 2;

  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.return_button:hover .return_overlay {
  clip-path: circle(100% at top 5% right 30%);
}
.return_button:hover .arr-1 {
  stroke: #292929;
}
.return_button:hover {
  background: #e9e7e7;
}

#main_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: fit;
  max-width: 100vw;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: none;
}

.section {
  min-height: 30vh;
  width: 100vw;
  display: flex;
  position: relative;
}

#sec1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
  height: 75vw;
}
#sec1::after {
  content: "";
  pointer-events: none;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, #15151500, #151515 97%);
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: translateY(1vw);
}
.top_header {
  height: 7.5vw;
  width: 100vw;
  background: #151515;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 4vw;
  padding-left: 4vw;
  h1,
  h2 {
    font-size: 0.7rem;
    text-align: center;

    color: #e9e7e7;
  }
  h1 {
    margin-left: 6vw;
  }
  h2 {
    font-weight: 400;
  }
}

@keyframes secondTitle {
  0% {
    opacity: 0;
    letter-spacing: -5rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}

.header_pic {
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 75vw;
  gap: 0.3vw;

  .main_pic {
    background-color: #151515;
    background-image: url(../Images/header_pic.jpg);
    background-position-x: center;
    background-position-y: -10%;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 77vw;
    height: 110%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 5vw;

    transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1), padding-top 0s linear,
      background-position-y 0s linear;

    h1 {
      animation: secondTitle 2s cubic-bezier(0.25, 0, 0, 1) 0.2s forwards;
      transition: all 0s linear;

      overflow-y: hidden;

      color: white;
      // background-clip: text;
      // -webkit-background-clip: text;
      position: relative;
      overflow: visible;

      margin-left: 4vw;
      font-size: 7vw;
      font-weight: 900;
      // backdrop-filter: invert(1);
      mix-blend-mode: difference;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    span {
      font-size: 1vw;
      font-weight: 600;
      transform: rotate(90deg);
      display: inline-block;
      text-align: start;

      overflow-y: hidden;
      margin-left: -1.5vw;
      margin-right: -1.5vw;
    }
    h1::selection,
    span::selection {
      background: #e9e7e7;
      color: #15151580;
    }
  }
  .side_pic {
    background-color: #151515;
    background-image: url(../Images/header_pic.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 690%;

    flex: auto;
    height: 110%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1), padding-top 0s linear,
      background-position-y 0s linear;

    #circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20vh;
      gap: 5vh;
      height: 50vh;

      transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1),
        margin-bottom 0s linear;

      div {
        width: 2vw;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #e9e7e7;
      }
      #div2 {
        background: none;
        border: solid 1px #e9e7e7;
      }
    }
    h2 {
      color: white;
      font-size: 0.5rem;
      letter-spacing: 4px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      width: 1vw;
      transform: rotate(90deg);

      text-overflow: visible;
      white-space: nowrap;

      transition: all 2s 0.8s cubic-bezier(0.25, 0, 0, 1),
        letter-spacing 0s linear;
    }
  }
  #sp2 {
    background-position-x: 100%;
    background-position-y: 0%;
  }
}

.header_contents {
  width: 77%;
  height: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  color: #e9e7e7;

  text-align: center;

  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3.6rem;
    font-size: 2.6rem;
    width: 560px;

    margin-bottom: 2vh;
    overflow: hidden;
  }
  span {
    display: inline-block;
  }
  p {
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.65vw;
  }
  .line {
    height: 3px;
    width: 0;
    background: #e9e7e7;
    margin-bottom: 2vh;
    transition: all 2s cubic-bezier(0.25, 0, 0, 1);
  }
}
.pending {
  transform: translateY(10rem);
  opacity: 0;
}
#sec2 {
  background: #151515;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 2vh;
  overflow: hidden;

  .line {
    width: 1px;
    background: #e9e7e7;
    min-height: 100vh;
    height: 100%;
  }

  .row {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #left {
    align-items: flex-end;
    justify-content: center;
    width: 38%;
    padding-right: 5vw;
  }
  #right {
    width: 62%;
    padding-left: 5vw;
    padding-right: 8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: justify;
    p {
      margin-bottom: 1vw;
      font-weight: 400;
      color: #e9e7e7;
      font-size: 1.1vw;
      line-height: 1.65vw;
    }
    .Consequence {
      font-style: italic;
      margin-right: 21vw;
      text-align: left;
      font-weight: 600;
      position: relative;
      margin-left: 15px;
    }
    .Consequence::before {
      content: "";
      width: 3px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -15px;
      background: #e9e7e7;
    }
  }
}
.main_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
  text-transform: uppercase;

  position: relative;

  transform: skewY(0);

  transition: all 1.3s cubic-bezier(0.25, 0, 0, 1);

  .block_line {
    height: 3px;
    width: 7vw;
    background: #e9e7e7;
    margin-bottom: 1vw;
    margin-right: 3vw;
  }
  #line2 {
    margin-right: 0;
  }
  #line3 {
    width: 14.3vw;
    position: absolute;
    margin-right: 0;
    bottom: -1vw;
    left: 0;
  }

  .SceneBox {
    background: #e9e7e7;
    width: 25vw;
    height: 10vw;

    text-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  h5 {
    position: absolute;
    text-align: start;

    color: #151515;
    font-weight: 900;
    font-size: 4vw;
    line-height: 3.3vw;
  }

  #h502 {
    color: transparent;
    -webkit-text-stroke: 1pt #151515;

    transform: translateX(2px) translateY(2px);
    pointer-events: none;
  }

  h2 {
    font-size: 1.3vw;
    font-weight: 800;
    line-height: 2.2vw;
    letter-spacing: 0.3px;
  }
  #center {
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: flex-end;
    justify-content: center;
    div {
      height: 3px;
      width: auto;
      flex: auto;
      background: #e9e7e7;
    }
  }
  h3 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .BottomBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
  }
  .leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: relative;

    transition: all 1.8s cubic-bezier(0.25, 0, 0, 1);

    transform: translateX(-30vw);
  }
  .question {
    background: #e9e7e7;
    width: 4vw;
    height: 5.7vw;
    margin-bottom: 1vw;

    text-align: center;

    transform: translateX(15vw);

    transition: all 1.8s cubic-bezier(0.25, 0, 0, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .PI {
    position: absolute;
    font-size: 2.8vw;
    left: 0;
    top: -1vw;
    color: #e9e7e7;
    font-family: "Bebas Neue";
    font-weight: 900;
  }
}

#sec2_5 {
  background: white;
  height: 85vh;

  background-image: url("../Vectors/Digital.svg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 800;
    font-size: 2.23vw;
    height: 3.5vw;
    padding-top: 5px;
    margin-top: 2vh;
    color: #292929;
    overflow: hidden;
    span {
      display: inline-block;
      background: none;
    }
  }

  .sec2_pending {
    color: #29292900;
    transform: translateY(120%) rotate(65deg);
  }
}

#sec3 {
  background: #e9e7e7;
  //  box-shadow: 0 -3vw 2.7vw #000000bd;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .single_Dash,
  .single_Dash2 {
    position: absolute;

    background: #292929;
    color: #292929;
    span {
      transform: translateY(10px);
      display: inline-block;
      font-size: 1vw;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .tripple_Dash {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    div {
      background: #292929;
    }
  }

  .col {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #left_col {
    width: 38%;
    height: 100vh;
    padding-left: 5vw;
    position: relative;

    padding-right: 5vw;
    background: #292929;

    transition: all 1s cubic-bezier(0.25, 0, 0, 1), transform 0s linear;
    .contents {
      width: 7vw;
      height: 30vh;
      background-image: url("../Vectors/NewSaver.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      transition: all 0.88s cubic-bezier(0.25, 0, 0, 1);
      pointer-events: none;

      position: absolute;
      left: 4vw;
      top: 11vh;
    }
    h1 {
      color: #292929;
      font-weight: 900;
      text-align: center;
      font-weight: 900;
      font-size: 2.2vw;
      width: 25vw;
    }
  }
  #right_col {
    width: 62%;
    padding-left: 5vw;
    padding-right: 8vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    p {
      color: #292929;
      font-weight: 500;
      font-size: 1.1vw;
      line-height: 1.65vw;
      text-align: justify;
      position: relative;

      margin-bottom: 50px;

      span {
        display: inline-block;
        position: relative;
      }
    }
    br {
      content: "";
      display: block;
      margin: 1vw 0;
    }
    h3 {
      width: 100%;
      margin-top: 3vw;
    }
    h5 {
      width: 100%;
      margin-bottom: 50px;
      font-size: 1.1vw;
      font-weight: 600;
    }

    .Row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 35vw;

      position: relative;
      margin-bottom: 10vh;

      .Invert_text {
        color: #e9e7e7;
        text-align: left;
        font-size: 1vw;
        font-weight: 400;
      }
      .Invert_text::first-letter {
        padding-left: 5px;
        font-size: 3.8vw;
        float: left;
        margin-right: 5px;
        font-weight: 800;
        letter-spacing: 5px;
        background: #e9e7e7;
        color: #151515;
        line-height: 5vw;
      }
      .Row_content {
        position: absolute;
        width: 62%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        top: 0;
        left: 0;
        padding: 20px 0 0 20px;

        h5 {
          color: #e9e7e7;
          margin-bottom: 20px;
        }
        p {
          position: relative;
        }
        p::after {
          content: "";
          width: 62%;
          height: 3px;
          background: #e9e7e7;
          position: absolute;

          bottom: -20px;
          left: 0;
        }
      }

      .single_Dash {
        background: #e9e7e7;
        position: relative;
        margin-left: 50px;
        height: 3px;
        width: 16vw;
      }
      .tripple_Dash {
        top: 0;
        left: -140px;

        div {
          height: 3px;
          width: 120px;
        }
        div:nth-child(2) {
          width: 88px;
          transform: translateX(-30px);
        }
      }
    }
    .IMG {
      height: 100%;
      width: 100%;
      background: #f1f1f1;
      background-image: url("../Images/key.jpg");
      background-size: cover;
      background-position: 10% 50%;
      opacity: 0.88;
      position: absolute;
      right: 0;
      top: 0;
    }
    .Holder {
      position: relative;
    }
    .Decor_Circle {
      aspect-ratio: 1;
      border-radius: 50%;
      border: solid 1px #292929;
      position: absolute;
    }

    #Circle1 {
      width: 10vw;

      right: -2vw;
      bottom: -5vh;
    }

    .Sec3_Title {
      width: 100%;
      text-align: left;
      padding-top: 5vh;
      margin-bottom: 100px;
      position: relative;

      .single_Dash,
      .single_Dash2 {
        top: 0;
        left: -3vw;

        height: 3px;
        width: 23vw;
      }
      .single_Dash2 {
        left: 23vw;
        width: 11vw;

        top: unset;
        bottom: -5vh;
      }

      .tripple_Dash {
        top: 0;
        right: 0;

        div {
          height: 3px;
          width: 50px;
        }
        div:nth-child(2) {
          width: 28px;
        }
        div:nth-child(3) {
          width: 43px;
        }
      }

      h2 {
        text-transform: uppercase;
        font-size: 3.35vw;
        font-weight: 700;
        mix-blend-mode: difference;
        color: white;
        transform: translateX(-13.5vw);

        font-family: "Barlow Condensed", sans-serif;
      }
      h2:nth-child(2) {
        transform: translateX(-7.5vw);
      }
    }
  }

  .sketchfab-embed-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #1d2635;
  }

  .Anh4_Layout {
    width: 100%;
    height: 60vw;
    display: flex;
    position: relative;
    margin-top: 50px;

    div {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      display: inline-block;
      border: solid 3px #e9e7e7;
      position: absolute;
      box-shadow: -1vw 1vw 2.5vw #00000059;
    }
    .layer3 {
      width: 66%;
      aspect-ratio: calc(640 / 894);
      background-image: url("../Images/Layer3.png.jpg");
      left: 0;
      top: 0;
    }
    .layer2 {
      width: 50%;
      aspect-ratio: calc(500 / 698);
      background-image: url("../Images/Layer2.png.jpg");
      right: 0;
      top: 10vw;
    }
    .layer1 {
      width: 50%;
      aspect-ratio: calc(466 / 652);
      background-image: url("../Images/Layer1.png.jpg");
      left: 12vw;
      bottom: 1vw;
    }
    .group1 {
      width: 47%;
      border: none;
      box-shadow: none;
      background-image: url(../Images/Group1.png);
      aspect-ratio: calc(989 / 356);
      right: 0;
      bottom: 0;
      .single_Dash {
        height: 3px;
      }
    }
  }
  .Quotes_Layout {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    gap: 2vw;

    .Avatar {
      background-image: url(../Vectors/DinkWater.svg);
      background-repeat: no-repeat;
      background-size: contain;
      aspect-ratio: 1;

      position: absolute;

      top: 0;
      left: -2vw;

      width: 43%;
    }
    #Right {
      width: auto;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 60%;

      right: 0;
      top: 0%;
    }
    .Quotes_Illus {
      background-image: url(../Vectors/Quotes_Illus.svg);
      background-repeat: no-repeat;
      background-size: contain;
      aspect-ratio: calc(163 / 66);
      width: 9vw;
      margin-bottom: 50px;
    }
    #Quotes_Text {
      font-size: 1.37vw;
      line-height: 1.67vw;
      text-align: left;
      position: relative;
    }
    #Quotes_Text::before {
      content: "";
      width: 2vw;
      height: 3px;
      position: absolute;
      top: -3vh;
      right: 3vw;

      background: #292929;
    }
    h6 {
      text-align: right;
    }
  }
}

#sec4 {
  background: #e9e7e7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100vw;

  #left_col {
    width: 38%;
    height: 100vh;
    background: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .BG {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../Images/ảnh12.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
    }
    #Blured {
      filter: blur(0);
    }
    #Origin {
      clip-path: circle(0 at 50% 50%);
      pointer-events: none;
      opacity: 0;
    }

    .Main_Title {
      width: 12vw;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);

      h2,
      h3 {
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        color: #e9e7e7;
      }
      h2 {
        font-size: 3.3vw;
        font-weight: 600;
        white-space: nowrap;
      }
      h3 {
        font-size: 2vw;
        font-weight: 200;
      }

      #Text {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
      }
      #Stroke_Shape {
        border: solid 1px #22b573;
        transform: rotate(0);
      }

      #Fill_Shape {
        background: #22b573;
        transform: rotate(45deg);
      }
    }
    .Main_Title_Active {
      opacity: 1;
      #Stroke_Shape {
        transform: rotate(70deg);
      }
    }
  }

  #right_col {
    width: 62%;
    padding-left: 5vw;
    padding-right: 8vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;

    p {
      color: #292929;
      font-weight: 500;
      font-size: 1.1vw;
      line-height: 1.65vw;
      text-align: justify;
      position: relative;

      margin-bottom: 50px;

      span {
        display: inline-block;
        position: relative;
        color: #22b573;
      }
    }
    br {
      content: "";
      display: block;
      margin: 1vw 0;
    }
    h3 {
      width: 100%;
      margin-top: 3vw;
    }
    h5 {
      width: 100%;
      margin-bottom: 50px;
      font-size: 1.1vw;
      font-weight: 600;
    }

    .row {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;
      h5 {
        width: 32%;
      }
      p {
        width: 62%;
      }
    }

    .single_Dash,
    .single_Dash2 {
      position: absolute;

      background: #292929;
      color: #292929;
      span {
        transform: translateY(10px);
        display: inline-block;
        font-size: 1vw;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .tripple_Dash {
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      div {
        background: #292929;
      }
    }

    .Sec4_title {
      width: 100%;
      text-align: left;
      padding-top: 5vh;
      margin-bottom: 100px;
      position: relative;

      h3 {
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        color: #292929;
        margin: 0;
        span {
          color: #22b573;
          font-family: "Barlow Condensed", sans-serif;
        }
      }

      #Text1,
      #Text3,
      #Text4 {
        font-style: italic;
      }
      #Text1 {
        font-weight: 700;
        font-size: 3.45vw;
        color: #292929;
        transform: translateX(-8vw);
      }
      #Text2 {
        font-size: 2.2vw;
        font-weight: 400;
        margin-bottom: 1vw;
      }
      #Text3,
      #Text4 {
        font-size: 3.3vw;
        font-weight: 300;
        position: absolute;
        bottom: -2vw;
        left: 2.8vw;
      }
      #Text4 {
        width: fit-content;
        background: #292929;
        color: #e9e7e7;
        padding: 5px 15px 5px 12px;
        left: 7vw;

        font-size: 2.2vw;
        font-weight: 700;
        clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
      }
      .single_Dash,
      .single_Dash2 {
        top: 0;
        left: -3vw;

        height: 3px;
        width: 23vw;
      }
      .single_Dash2 {
        left: 28vw;
        width: 3vw;

        top: unset;
        bottom: -5vh;
      }

      .tripple_Dash {
        top: 0;
        right: 0;

        div {
          height: 3px;
          width: 50px;
        }
        div:nth-child(2) {
          width: 28px;
        }
        div:nth-child(3) {
          width: 43px;
        }
      }
    }
  }
  .Shopping_Illus {
    // background-image: url(../Vectors/ShopingIllus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: calc(422 / 400);
    position: relative;
    margin-bottom: 50px;
    margin-top: 10vh;
    transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: visible;
      * {
        transition: all 0.11s ease-out;
      }
      #Refl_Mask,
      #clip-path {
        transition: none;
      }
    }

    position: relative;
    #Shopping_Illus_text {
      width: 62%;
      position: absolute;
      left: 0;
      top: -10vh;
      font-weight: 400;
      color: white;
      padding: 10px 15px 10px 15px;
      background: #00000096;
      transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
    }
  }
  .NOA_RAVID {
    display: flex;
    height: 68vh;
    width: 100%;
    position: relative;

    align-items: flex-start;
    justify-content: stretch;
    gap: 10px;
    margin: 100px 0 100px 0;

    h6 {
      position: absolute;
      color: #22b573;
      font-size: 3.3vw;
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      bottom: -30px;
      left: 20px;
      z-index: 2;

      span {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        font-size: 1.2vw;
        line-height: 1.3vw;
        display: inline-block;
        position: absolute;
        width: fit-content;
        left: 0;
        bottom: -1.3vw;
      }
    }

    .NOA_IMG {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      flex: auto;
      width: auto;
      position: relative;
      // border: solid 3px #e9e7e7;
      z-index: 1;
    }
    .NOA_IMG::after {
      background: #0e4e31;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      mix-blend-mode: color;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
    }
    .NOA_IMG:hover::after {
      opacity: 1;
    }

    #IMG1 {
      background-image: url("https://parametric-architecture.com/wp-content/uploads/2020/01/PA_noa-raviv-graduate-collection_03.jpg");
    }
    #IMG2 {
      margin-top: 40px;
      background-image: url("https://www.savoirflair.com/wp-content/uploads/2016/03/Noa-Raviv-Hard-Copy-Collection.jpg?x88026");
    }
    #IMG3 {
      margin-top: 20px;
      background-image: url("https://images.squarespace-cdn.com/content/v1/5a6115486f4ca3ee5ede0cd1/1521836882853-XZEXANO1B402NK393HVU/noa+raviv+graduate+collection_highres.jpg?format=1000w");
    }
  }
  .NOA_RAVID::before,
  .NOA_RAVID::after {
    content: "";
    width: auto;
    height: 100px;
    position: absolute;
    bottom: -60px;
    background: #292929;
    z-index: 0;
    left: -20px;
    right: -20px;
  }
  .NOA_RAVID::after {
    bottom: unset;
    top: -40px;
  }
}
#Footer {
  background: #292929;
  min-height: 15vh;
}
.Free_Circle_Cursor {
  width: 20vw;
  aspect-ratio: 1;
  border: solid 1px #151515;
  position: fixed;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;

  transition: all 0s linear, opacity 0.8s cubic-bezier(0.25, 0, 0, 1);
}
#Sec5 {
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3,
  h4,
  strong {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.1vw;
    color: #292929;
    letter-spacing: 0.2vw;
    line-height: 1.8vw;
  }
  h4 {
    margin-top: 20px;
    font-weight: 300;
    color: #656565;
  }

  h3 {
    font-weight: 500;
  }
  strong {
    font-weight: 700;
  }
  span {
    color: #656565;
    padding: 0 5px 0 5px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    position: relative;

    margin-top: 5vh;
    div {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8vw;
      height: 10vh;
    }
    .horr_line {
      height: auto;
      width: 1px;
      background: #292929;
    }
    #VDFM {
      background-image: url(../Vectors/VDFM.svg);
    }
    #MAD_THC {
      background-image: url(../Vectors/MADTHC.svg);
    }
  }
}
