//
// SF Display

@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Ultralight.otf);
  font-weight: 200;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Heavy.otf);
  font-weight: 800;
}
@font-face {
  font-family: "SF Display";
  src: url(../Fonts/SF/SanFranciscoDisplay-Black.otf);
  font-weight: 900;
}

//
// SF Text
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-ThinItalic.otf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Light.otf);
  font-weight: 300;
  //   font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Regular.otf);
  font-weight: 400;
  //   font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Italic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Medium.otf);
  font-weight: 500;
  //   font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Semibold.otf);
  font-weight: 600;
  //   font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-SemiboldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-Bold.otf);
  font-weight: 700;
  //   font-style: italic;
}
@font-face {
  font-family: "SF Text";
  src: url(../Fonts/SF/SanFranciscoText-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Niagara Engraved";
  src: url(../Fonts/Niagara/NIAGENG.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "Niagara Solid";
  src: url(../Fonts/Niagara/NIAGSOL.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/SVN-MonumentExtendedRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/SVN-MonumentExtendedUltraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/SVN-MonumentExtendedBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/SVN-MonumentExtendedLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/SVN-MonumentExtendedUltraLight.otf);
  font-weight: 200;
}
@font-face {
  font-family: "Monument";
  src: url(../Fonts/Monument/MonumentExtended-Ultralight.otf);
  font-weight: 100;
}
